.song-text {
  padding: 0 2vh; 
}
audio {
  width: 100%;
}
/* div#song-list {
  max-height: 50vh;
  overflow: scroll;
} */
table {
  background-color: black;
}
th {
  font-weight: 800;
  font-family: 'Source Sans Pro', Sans-Serif;
}
td, th {
  color: white;
}
.table td, .table th {
    vertical-align: middle;
}
.table-thumb {
    height: 5vh;
  }
tbody > tr:hover {
  cursor: pointer;
  transform:scale(1.01);
  transform-origin:center;
  transition: transform .15s;
}

@media only screen and (max-width: 600px) {
  .song-text {
  padding: 0; 
  }
  table {
    font-size: 1.5vh;
  }
  .song-title {
    margin: 2vh 0;
  }
} 

