* {
  margin: 0;
  padding: 0;
}
/* Global Components Override */
body {
  color: white;
  font-family: "Oswald", sans-serif;
  background: rgb(210, 118, 255);
  background: linear-gradient(
    135deg,
    rgba(210, 118, 255, 1) 0%,
    rgba(81, 0, 255, 1) 100%
  );
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-padding-top: 13vh;
  scroll-behavior: smooth;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.9vh;
}
a {
  color: gray;
  text-decoration: none;
}
p a {
  color: inherit;
  text-decoration: underline;
}
p a:hover {
  color: white;
  opacity: 0.75;
}
section {
  padding: 5vh;
  margin: 7.75vh 1vh;
  scroll-snap-align: start;
}
h2 {
  width: fit-content;
  font-weight: 700;
}
hr {
  width: 15%;
}

/* Section Specific Styles */
section#welcome {
  margin-top: 2vh;
}
section#web,
section#video {
  margin-bottom: 13vh;
}

/* Class Overrides/Styles */
.light {
  color: white;
  border: 2px solid white;
}
.blurb {
  padding-right: 8vh;
}
.video-blurb {
  padding-left: 8vh;
}
.btn-light {
  color: white;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 12px;
  width: 75%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5vh;
  padding: 1vh;
}

/* Nav */
nav {
  font-weight: 700;
  font-size: 2.75vh;
  text-transform: uppercase;
}
.navbar {
  padding: 2vh 4vh;
}
.bg-light {
  background-color: transparent !important;
}
.navbar-brand {
  font-size: 3.5vh;
}
a.navbar-brand {
  color: white !important;
  padding-left: 0.25rem;
}
.navbar-light .navbar-toggler {
  border: 0;
  padding: 0.25rem 0.75rem;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/menu.svg");
}
li.nav-item {
  text-align: right;
  padding-right: 0.75rem;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

/* Card Classes */
.card {
  border-radius: 12px;
  background: transparent;
  border: 4px solid white;
  margin-bottom: 2vh;
}
.card:hover {
  cursor: pointer;
}
.card-body h4 {
  display: inline;
  vertical-align: bottom;
}
.card:hover .card-overlay {
  opacity: 1;
  clip-path: circle(150% at 95.3% 19.5%);
}
.card-overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  background-color: white;
  border-radius: 6px;
  min-width: 100%;
  min-height: 100%;
  clip-path: circle(3% at 95% 20%);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: -webkit-clip-path;
  -moz-transition-property: -moz-clip-path;
  -o-transition-property: -o-clip-path;
  transition-property: clip-path, opacity;
  transition-timing-function: ease-in-out;
}
/* .card-overlay h3 {
  color: rgb(210,118,255);
} */
.spartan-overlay {
  color: rgb(128, 84, 246);
}
.pp-overlay {
  color: rgb(121, 79, 246);
}
.tcas-overlay {
  color: rgb(114, 75, 246);
}
.pfs-overlay {
  color: rgb(127, 83, 246);
}
.last-overlay {
  color: rgb(114, 75, 246);
}
i.fas.fa-plus-circle,
i.fas.fa-play-circle {
  align-self: auto;
  font-size: 3vh;
  vertical-align: bottom;
  float: right;
}

/* Welcome */
.headshot {
  clip-path: circle(50% at 50% 50%);
}
.webbtn:hover {
  color: rgb(150, 88, 247, 1);
  color: linear-gradient(
    135deg,
    rgba(150, 88, 247, 1) 0%,
    rgba(148, 87, 247, 1) 100%
  );
}
.vidbtn:hover {
  color: rgb(140, 80, 246, 1);
  color: linear-gradient(
    135deg,
    rgba(140, 80, 246, 1) 0%,
    rgba(138, 79, 246, 1) 100%
  );
}

/* Web */
i.fas.fa-plus-circle {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.card:hover > .card-body > i.fas.fa-plus-circle {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    scroll-padding-top: 9vh;
  }
  .navbar {
    padding: 2vh;
  }
  section {
    padding: 3vh;
    margin: 5vh 0 1vh 0;
  }
  section#welcome {
    margin-top: 0;
    padding-top: 1vh;
  }
  .headshot {
    margin-bottom: 3vh;
  }
  .blurb {
    padding-right: 15px;
  }
  .video-blurb {
    padding-left: 15px;
  }
  .btn-light {
    width: 100%;
  }
  .projects-list {
    margin-top: 3vh;
  }
}
