/* Spartan */
a > h2:hover {
  color: black;
  opacity: .5;
}
.screens {
  overflow: hidden;
  max-height: 45vh;
}
.overlay {
  z-index: 1;
  position: absolute;
  text-align: center;
  background-color: gray;
  color: white;
  opacity: 0;
}
.overlay:hover {
  opacity: .9;
  transition: opacity .5s;
}
.overlay > .row {
  height: 45vh;
}
.overlay > .row > .col-6 > h3 {
  font-size: 4vh;
}
@media only screen and (max-width: 600px) {

}
} 